@model IEnumerable<fortnite_project.DAL.Group>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h3>
                    @Html.DisplayFor(modelItem => item.AspNetUser.EpicUsername) @Html.DisplayFor(modelItem => item.PostDate)
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => item.PlatPref)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.SkillPref)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Title)
                    @Html.DisplayFor(modelItem => item.Desc)
                </p>
            </div>
            <div class="col-lg-2"></div>
        }
    </div>
</div>
